@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Movie> //get the list of movies from the HomeController

<table class="table table-bordered">
    <thead class="fw-bold">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent to</td>
            <td>Copied To Plex</td>
            <td>Notes</td>
        </tr>
        
    </thead>

    @foreach (var movies in Model) //use razor code to run through the list of movies
    {
        <tbody>
            <tr>
                <td>@movies.Category?.CategoryName</td>
                <td>@movies.Title</td>
                <td>@movies.Year</td>
                <td>@movies.Director</td>
                <td>@movies.Rating</td>
                <td>@movies.Edited</td>
                <td>@movies.LentTo</td>
                <td>@movies.CopiedToPlex</td>
                <td>@movies.Notes</td>

                <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@movies.MovieId">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@movies.MovieId">Delete</a></td>
            </tr>
            
        </tbody> 
    }
    
</table>